.content{
    background-color:#F1A94E;
    margin-top:10px;
}
a,.table-condensed a.btn span{
    color:#F2EDD8
}
.table-condensed span,.table-condensed a.btn span:hover{
    color:#44B3C2;
}
.marginTop{
    margin-top:10px;
}
.alert{
    padding:0;
    border:0;
    line-height:15px;
}
.alert-info{
    padding:10px;
    width:60%;
    margin: 0 auto;
    font-weight:bold;
    font-size:16px;
    text-align: center;
    background-color:#44B3C2;
    color:#fff;
}
.info-success{
    display:inline-block;
    padding:7px;
    background-color: #fff;
    color: #444;
    margin:0;
}
form{
    padding:10px;
    padding-bottom:15px;
    margin-bottom:10px;
}
input[name="search"]{
    margin-top:23px;
}
.navbar-default .navbar-brand{
    color:#44B3C2;
}
.navbar-brand span{
    color:#ffc300;
}
.btn{
    width:120px;
    background-color: #44B3C2;
}
.btn-primary{
    border-color:#44B3C2;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active,.open>.dropdown-toggle.btn-primary{
    background-color: #F2EDD8;
    border-color:#F2EDD8; 
    color:#444;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    border-bottom:1px solid #E45641;
}
h1{font-size:22px}
h5{font-size:16px;}
h4{margin-bottom:20px;}
.heading{
    margin:10px auto;
    text-align:center;
}
.no-appointment{
    font-weight:800;
    margin:20px;
    font-size:18px;
}
.table{
    border: 1px solid #eee;
    table-layout: fixed;
    margin-top: 10px;
}
td{
    word-wrap:break-word;
}
.table tr th:nth-child(1),.table tr th:nth-child(2){width:25%}
tr th:nth-child(3){
    width:50%;
}
.table-striped>tbody>tr:nth-child(odd){
    background-color: #F2EDD8;
}
#add-new{
    width: 170px;
    margin-top:20px;
}
a.btn{
    width:100px;
}
@media (min-width:768px){
    h4{
        margin-left:20px;
    }
    form{
        padding:5px;
        padding-bottom:15px;
    }
}